.colors__square {
  width: 70px;
  height: 70px;
  background-color: #1F2041;
  border-radius: 6px;

  &--75 {
    opacity: .75;
  }
  &--50 {
    opacity: .5;
  }
  &--25 {
    opacity: .25;
  }
  &--5 {
    opacity: .05;
  }
  &--purple {
    background-color: #BC9CFF;
  }
  &--green {
    background-color: #6FCF97;
  }
}

.colors__title {
  font-weight: 700;
  word-spacing: 3.5px;
}

.colors__code {
  font-size: 1.9rem;
}