// Font
$mainFont: 'Montserrat-Regular', sans-serif;

// Size
$mainFontColor: #1F2041;
$mainFontSize: 10px;
$mainFontWeight: 400;
$mainLineHeight: 2.4;

//Color
$darkShade: #1F2041;
$purple: #BC9CFF;
$green: #6FCF97;
