.main-page {
  background-color: rgba($darkShade, .25);
}

.links {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 80px;
}

.pages-link {
  font-size: 20px;
  color: #000;
  cursor: pointer;

  & +.pages-link {
    margin-top: 15px;
  }
}